<!doctype html>
<html>
  <head>
    <title>Nifty optical illusion</title>
    <style type="text/css">
      body { font-family: 'Helvetica Neue', Helvetica, sans-serif;
        width: 720px; margin: auto; text-align: center; }
      h1, h2, pre { text-align: left; }
      #illusion { position: relative; width: 720px; height: 480px; }
      #mask { position: absolute; top: 0px; left: 0px; }
      #slider { width: 720px; }
    </style>
    <script type="text/javascript">
      var mask, image
      var setMaskOffset = function (offset) {
        if (!mask) mask = document.getElementById('mask')
        mask.style.left = '' + offset + 'px'
      }
      // var setIllusion = function (name) {
      //         if (!image) image = document.getElementById('image')
      //         if (!mask) mask = document.getElementById('mask')
      //         image.src = 'http://barrier-grid.s3.amazonaws.com/composite_<%= @grid.id %>.png'
      //         mask.src = 'http://barrier-grid.s3.amazonaws.com/barrier_<%= @grid.id %>.png'
      //       }
    </script>

  </head>
  <body>
    <h1>The Barrier Grid Animation Effect</h1>
    <h2><%= @grid.name %></h2>
    
    <div id="illusion">
      <img src="http://barrier-grid.s3.amazonaws.com/composite_<%= @grid.id %>.png" id="image" alt="Illusion">
      <img src="http://barrier-grid.s3.amazonaws.com/barrier_<%= @grid.id %>.png" id="mask" alt="Illusion mask">
    </div>
    <p>
      <input id="slider" type="range" min="-360" max="360" step="1" value="0"
             onchange="setMaskOffset(this.value)" >
    </p>
    <p>
      <a href="/new">Create your own!</a>
    </p>
    </body>
    </html>